body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(33, 184, 184);
}

h1 {
    margin-bottom: 200px;
    text-align: center;        
    font-size: 40px;
    color: whitesmoke
}

.container {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #2d2d2d;
    margin:0px auto;
}

.square {
    background-color: rgba(201, 201, 201, 0.692);
}

button {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    background-color: rgb(201, 201, 201, 0.692);    
    color: black;
    display: inline-block;
    border: 0.1em solid black; 
}

button:hover {
    background-color: whitesmoke;
}

.btn {
    width: 400px;
    margin:0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}
